<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Catalogs;Browser"/>
			<publisherPolicy apply="yes"/>
		</assemblyBinding>
	</runtime>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
	<appSettings>
		<add key="throw.goshopping.exception" value="false"/>
		<add key="throw.goshopping.communication.exception" value="false"/>
		<add key="throw.pricecheck.exception" value="false"/>
		<add key="throw.pricecheck.communication.exception" value="false"/>
		<add key="throw.order.exception" value="false"/>
		<add key="throw.order.communication.exception" value="false"/>
	</appSettings>
</configuration>
